#header-black {
	background-color: black;
	color:white;
	width: 1280px;
	height: 100px;
	margin-left: 1px;
	margin-bottom:10px;
	margin-right: 10px;
	margin-top: 10px;

}

#profilepic {
	float: left;
	width: 100px;
	height: 100px;
}

h1 {
	text-align: right;
	font-size: 30px;
	font-family: Georgia;
	margin-right: 800px;
	padding-top: 30px;
	
}

p {
	font-family: Georgia;
	font-size: 15px;
}

#titres {
	background-color: #808080;
	width: 150px;
	height: 700px;
	float: left;
}

#content-formation {
	background-color:#C0C0C0;
	width: 1120px;
	height: 160px;
	float: left;
	margin-left:10px;
}

h3 {
	margin-left: 10px;
	font-size: 15px;
	font
}

h2 {
	margin-left: 20px;
	font-size: 20px;
	font-style: bold;
}

#content-experiences {
	background-color:#C0C0C0;
	width: 1120px;
	height: 160px;
	float: left;
	margin-left:10px;
	margin-top: 10px;
}